html {
    background: #eee;
}

header h1 {
    padding: 0.4em 1.1em;
    color: white;
    font-weight: normal;
    font-size: 24px;
}


table.computers em {
    color: #aaa;
}

table.computers .introduced, table.computers .discontinued {
    width: 10%;
    min-width: 100px;
}

table.computers .company_name {
    width: 30%;
    min-width: 300px;
}

table.computers .header a {
}

#actions {
	padding-bottom: 1em;
}

.img-computer{
	text-align:center;
}

.add-computer-col{
	margin-left: 25px;
}

.add-computer{
	margin-top:25px;
	margin-bottom:5px;
}

.computer-name{
	max-width: 145px;
}

.titles{
	padding-bottom: 5px;
}

.computer-number{
	max-width: 80px;
}

.border-right{
	border-right: 1px solid #ddd;
}
	
.button-modify{
	padding-top: 25px;
}'